body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .background {
  position: absolute;
  top: 50px;
  left: 50px;
}

#note {
  margin-top: 10em;
  border: 2px solid orange;
  margin-bottom: 50px;
}

#note__box {
  padding: 10px;
  width: 300px;
  font-size: 25px;
  outline: none;
  border: none;
}

#note__submit {
  background-color: orange;
  padding: 10px;
}

.list {
  width: 50%;
  margin: 0;
  padding: 0;
}

.list__parent {
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list__parent--check {
  padding: 10px;
  background-color: blue !important;
}

.list__parent--delete {
  padding: 10px;
  background-color: red;
}

.list__note {
  width: 100%;
  list-style: none;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: orange;
}

.list__done {
  opacity: .5;
}

.list__done--note {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.far {
  color: white;
  font-size: 25px;
  pointer-events: none;
}

.delete {
  -webkit-transform: scale(0);
          transform: scale(0);
}
