body{
    display: flex;
    flex-direction: column;
    align-items: center;
    .background{
        position: absolute;
        top: 50px;
        left: 50px;
    }
}
#note{
    margin-top: 10em;
    border: 2px solid orange;
    margin-bottom: 50px;
    &__box{
        padding: 10px;
        width: 300px;
        font-size: 25px;
        outline: none;
        border:none;
    }
    &__submit{
        background-color: orange;
        padding: 10px;
    }
}
.list{
    width: 50%;
    margin: 0;
    padding: 0;
    &__parent{
        transition: all ease .5s;
        margin-bottom: 15px;
        display: flex;
        &--check{
            padding: 10px;
            background-color: blue !important;
        }
        &--delete{
            padding: 10px;
            background-color: red;
        }
    }
    &__note{
        width: 100%;
        list-style: none;
        padding: 10px ;
        box-sizing: border-box;
        background-color: orange;
    }
}
.list__done{
    opacity: .5;
    &--note{
        text-decoration-line: line-through;
    }
}
// icon

.far{
    color:white;
    font-size: 25px;
    pointer-events: none;
}
.delete{
    transform: scale(0);
}
